.box__iconContainer{
    /* display: inline-block; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px !important;
    height: 100px !important;
    padding-left: 0 !important;
    text-decoration: none !important;
    text-align: center !important;
    color: #8080ff !important;
    background: #F9F9F9 !important;
    font-size: 62px !important;
    font-weight: normal !important;
    line-height: 2em !important;
    box-shadow: 0 5px 15px #ccccff !important;
    border-radius: 50%;
    text-align: center !important;
}
.box__icon{
    /* display: inline-block;
    position: relative;
    width: 100px !important;
    height: 100px !important;
    padding-left: 0 !important;
    text-decoration: none !important;
    text-align: center !important;
    color: #8080ff !important;
    background: #F9F9F9 !important;
    font-weight: normal !important;
    line-height: 2em !important;
    box-shadow: 0 5px 15px #ccccff !important;
    border-radius: 50%; */
    /* text-align: center !important; */
    font-size: 62px !important;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box > p{
    margin-top: 30px;
    /* text-align: center; */
    font-size: 16px;
    font-weight: bold;
    color: gray;
    line-height: 1.4;
}