.header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
}
.header > .header__logoContainer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.header__logoContainer > img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.header > h1{
    font-size: 42px;
    color: #0000FF;
    line-height: 1.3;
    font-family: 'Playfair Display';
    font-weight: 900;
    letter-spacing: 0;
    margin: 0 0 5px 0;
}
.header > h4{
    font-family: 'Poppins';
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.header > p{
    font-size: 14px;
    color: #A1A1A1;
    line-height: 1.4;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 1px;
}
.header > p > a{
    text-decoration: none;
    color: #3333ff;
}
.header > a > .MuiSvgIcon-root{
    display: inline-block;
    font-size: 42px;
    color: #3333FF;
    margin-top: 30px;
    text-decoration: none;
}


/* Responsive css for header */
@media screen and (max-width: 992px) {
    .header{
        width: 100vw !important;
    }
    .header > h1{
        font-size: 22px;
    }
    .header> h4{
        font-size: 14px;
    }
    .header > p{
        text-align: justify;
        margin: 0px 15px;
    }
  }


  @media screen and (max-width: 600px) {
    .header{
        width: 100vw !important;
    }
    .header > h1{
        font-size: 22px;
    }
    .header> h4{
        font-size: 14px;
    }
    .header > p{
        text-align: justify;
        margin: 0px 15px;
    }
  }
